:root {
  --padding: 5vw;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 62.5%;
  font-weight: bold;
  background-color: lemonchiffon;
}

input {
  display: none;
}

/* Label */
label.meme-text {
  display: block;
  width: 100%;
  background: url(img/plus.png) right no-repeat;
  background-size: 1rem 1rem;
  user-select: none;
  transition: all 0.3s;
}

input:checked + label.meme-text {
  color: black;
  background-image: url(img/cross.png);
}

.memes:not(:hover) label.meme-text {
  background-image: none;
}

label.meme-img {
  width: 70%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

label.meme-img[for="meme1"] {
  background-image: url("img/meme1.png");
}

label.meme-img[for="meme2"] {
  background-image: url("img/meme2.png");
}

label.meme-img[for="meme3"] {
  background-image: url("img/meme3.png");
}

label.meme-img[for="meme4"] {
  background-image: url("img/meme4.png");
}

.bayan {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.8em;
}

.memes {
  width: calc(100% - var(--padding));
  display: flex;
  flex-direction: column;
}

.memes:not(:hover) {
  color: blue;
}

.meme > * {
  cursor: pointer;
}

.meme:not(:first-child) {
  margin-top: 1rem;
  border-top: 1px solid grey;
}

.meme-img {
  display: block;
  max-height: 0;
  margin-inline: auto;
  transition: all 1s;
}

input:checked ~ .meme-img {
  max-height: 50vh;
}

@media (hover: hover) {}